.avatar {
  height: 1.4rem;
  width: 1.4rem;
  object-fit: contain;
}

.post {
  padding: 0.6rem;
}

.author-content{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 1.4rem;
  margin-left: 1rem;
  font-weight: 600;
}

.text-content {
  font-size: 1rem;
  font-weight: 400;
}

.post-content {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
}

.bar {
  position: absolute;
  height: 100%;
  width: 0.1rem;
  background-color: #ccc;
  left: 0;
  top: 0;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  border: none;
}

.bar:before, .bar:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 0.3rem;
  background: #fff;
  cursor: pointer;
  top: 0;
}

.bar:before {
  left: 0;
}

.bar:after {
  right: 0;
}

.bar:hover {
  background-color: blue;
}

.hide {
  display: none;
}

.show-cta {
  margin-radius: 0.3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}